.form-wrapper {
  background: #D8DBDB;
  margin-top: 10px;
}
.form {
  width: 100%;
}
.form-input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #B2B7B7;
  padding: 15px 10px;
  font-size: 18px;
  margin-bottom: 15px;
  background: #D8DBDB;
  font-family: 'Inconsolata', monospace;

}

.type-list {
  display: flex;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  justify-content: space-around;
}
.type-list p {
  background: #6B7272;
  padding: 7px 10px;
  border-radius: 3px;
  line-height: 1;
  color: #E4E5E5;
  transition: background .3s;
}
.type-list p:hover {
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.34);
}

.active-type {
  background: #365656 !important;
}
.form button {
  width: 100%;
  outline: none;
  border: none;
  color: #2D3A3A;
  padding: 17px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  background: #B2B7B7;
  margin-top: 15px;
  font-family: 'Inconsolata', monospace;
  transition: background .3s;
}
.form button:hover {
  background: #A2A7A7;
}
